<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Perfil Usuario</title>
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="/assets/css/Profile-Edit-Form.css">
</head>

<body style="background-image: url(&quot;/assets/img/Compradores.png&quot;);background-size: auto;background-repeat: round;background-position: left;">
    <div></div>
    <!-- Start: Profile Edit Form -->
    <div class="container profile profile-view" id="profile">
        <div class="row">
            <div class="col-md-12 alert-col relative">
                <div class="alert alert-info absolue center" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><span>Profile save with success</span></div>
            </div>
        </div>
        <form #compradorForm ="ngForm" (ngSubmit)="onSubmit(compradorForm)">
            <div class="form-row profile-row">
                <div class="col-md-4 relative">
                    <div class="avatar"></div>
                </div>
                <div class="col-md-8" style="background-color: #15191c;color: rgb(255,255,255);">
                    <h1>Crear Cuenta Comprador</h1>
                    <hr>
                    <div class="form-row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input ngModel #nombre="ngModel" [class.is-invalid]="nombre.invalid && nombre.touched" class="form-control" type="text"  required maxlength="30" pattern="^([A-Za-z\u00C0-\u00D6\u00D8-\u00f6\u00f8-\u00ff\s]*)$" name="nombre">
                                <small [class.d-none]="nombre.valid || nombre.untouched" class="text-danger">Debe insertar un nombre y que sea válido</small>
                            </div>
                            <div class="form-group">
                                <label>Segundo Apellido</label>
                                <input ngModel #segundoApellido="ngModel" [class.is-invalid]="segundoApellido.invalid && segundoApellido.touched" class="form-control" type="text"  required maxlength="30" pattern="^([A-Za-z\u00C0-\u00D6\u00D8-\u00f6\u00f8-\u00ff\s]*)$" name="segundoApellido">
                                <small [class.d-none]="segundoApellido.valid || segundoApellido.untouched" class="text-danger">Debe insertar un segundo apellido y que sea válido</small>
                            </div>
                            <div class="form-group">
                                <label>Fecha de Nacimiento</label>
                            </div>
                            <input ngModel #fechaNacimiento="ngModel" [class.is-invalid]="fechaNacimiento.invalid && fechaNacimiento.touched" class="form-control" type="date" required style="margin-top: -15px;" name="fechaNacimiento">
                            <small [class.d-none]="fechaNacimiento.valid || fechaNacimiento.untouched" class="text-danger">Fecha es requerido</small>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label>Primer Apellido</label>
                                <input ngModel #primerApellido="ngModel" [class.is-invalid]="primerApellido.invalid && primerApellido.touched" class="form-control" type="text"  required maxlength="30" pattern="^([A-Za-z\u00C0-\u00D6\u00D8-\u00f6\u00f8-\u00ff\s]*)$" name="primerApellido">
                                <small [class.d-none]="primerApellido.valid || primerApellido.untouched" class="text-danger">Debe insertar un primer apellido y que sea válido</small>
                            </div>
                            <div class="form-group">
                                <label>Género</label>
                            </div>
                            <select class="form-control" ngModel #genero="ngModel" name="genero" style="margin-top: -17px;">
                                <option value="Hombre" >Hombre</option>
                                <option value="Mujer">Mujer</option>
                                <option value="Otro">Otro</option>
                            </select>
                            <label style="margin-top: 17px;">Ingresos al mes (Colones)</label>
                            <input ngModel #ingresos="ngModel" [class.is-invalid]="ingresos.invalid && ingresos.touched" class="form-control" type="number"  required pattern="^[1-9]\d*$" name="ingresos" >
                            <small [class.d-none]="ingresos.valid || ingresos.untouched" class="text-danger">Ingresos es requerido y debe ser un valor válido</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label style = "margin-top: 20px;"><strong>Ubicación:</strong></label>
                    </div>
                    <label style="margin-left: 20px;">Provincia</label>
                    <select  class = "form-control" ngModel #provincia="ngModel" name="provincia" required (change)="provinciaSeleccionada($event.target.value)" style="width: 300px;">
                        <option *ngFor="let provincia of provinciasList" [value]="provincia">{{provincia}}</option>
                    </select>
                    <label style="margin-left: 20px;margin-top: 20px;">Cantón</label>
                <select class = "form-control" ngModel #canton="ngModel" name="canton" required (change)="cantonSeleccionado($event.target.value)" style="width: 300px;">
                    <option *ngFor = "let canton of cantonesList" [value]="canton" >{{canton}}</option>
                    </select>
                    <label style="margin-left: 20px;margin-top: 20px;">Distrito</label>
                    <select  class = "form-control" ngModel #distrito="ngModel" name="distrito" required style="width: 300px;">
                        <option *ngFor="let distrito of distritosList" [value]="distrito">{{distrito}}</option>
                    </select>
                    <div class="form-row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label style="margin-top: 20px;">Usuario</label>
                            </div>
                            <input ngModel #usuario="ngModel" [class.is-invalid]="usuario.invalid && usuario.touched" class="form-control" type="text"  required maxlength="30" name="usuario" style="margin-top: -17px;">
                            <small [class.d-none]="usuario.valid || usuario.untouched" class="text-danger">Usuario es necesario</small>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group" style="margin-top: 0px;">
                                <label style="margin-top: 20px;">Contraseña</label>
                            </div>
                            <input  ngModel #contrasena="ngModel" [class.is-invalid]="contrasena.invalid && contrasena.touched" class="form-control"  required maxlength="30" name="contrasena"  type="password" style="margin-top: -17px;">
                            <small [class.d-none]="contrasena.valid || contrasena.untouched" class="text-danger">Contraseña es necesario</small>
                        </div>
                    </div>
                    <hr>
                    <div class="form-row">
                        <div class="col-md-12 content-right">
                            <button  [disabled]="compradorForm.form.invalid" class="btn btn-primary form-btn" type="submit" style="background-color: rgb(244,86,18);margin-top: 0px;padding-bottom: 15px;">Crear Comprador</button>
                            <button  class="btn btn-primary form-btn" type="button" style="background-color: rgb(54,210,60);margin-top: -20px;" routerLink = "" >Volver al inicio</button>
                        </div>
                    </div>
            </div>
    </div>
    </form>
    </div>
    <!-- End: Profile Edit Form -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/js/Profile-Edit-Form.js"></script>
</body>
<router-outlet></router-outlet>
</html>