<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Mensajes del cliente</title>
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">
</head>

<body style="background-image: url(&quot;/assets/img/IconoCorreo.png&quot;);background-size: auto;opacity: 1;background-repeat: repeat;filter: blur(0px);">
    <h3 class="text-left" style="background-color: #ef3529;">Mensajes<button class="btn btn-primary" type="button" style="background-color: rgb(49,218,76);margin-left: 1000px;margin-right: 0px;">Volver atrás</button></h3>
    <div class="row" style="background-color: #4b4444;color: rgb(241,242,244);margin-top:100px;">
        <div class="col">
            <div class="row">
                <div class="col text-right"><a href="cliente/mensajes/detalle" style="color: rgb(255,249,249);font-size: 30px;"><strong>Nombre del comprador:</strong></a></div>
                <div class="col"><label class="col-form-label">Pedro Pérez</label></div>
            </div>
            <div class="row">
                <div class="col text-right" style="font-size: 20px;"><label class="col-form-label">ID del mensaje:</label></div>
                <div class="col"><label class="col-form-label">51684</label></div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <p><br>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."<br><br></p>
                </div>
            </div>
            <div class="row">
                <div class="col" style="background-color: #fffdfd;">
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/bootstrap.min.js"></script>
</body>

</html>