<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Lista Anuncios Cliente</title>
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo">
    <link rel="stylesheet" href="/assets/css/Block-Responsive-Item-List.css">
</head>

<body style="background-image: url(&quot;/assets/img/Fondo3.jpg&quot;);background-size: cover;background-repeat: no-repeat;">
    <h1 class="text-center" style="font-family: Baloo, cursive;background-color: #29738b;">Mis anuncios</h1>
    <!-- Start: Block Responsive Item List -->
    <div class="row">
        <div class="col-4 py-3 mx-auto col-xl-4 col-lg-6 col-md-6 col-sm-12" style="min-width:300px;min-height:300px;">
            <div class="card" style="width:100%;height:100%;">
                <div class="card-body">
                    <h3 style="color: rgb(21,119,190);">Nombre del anuncio</h3>
                    <h6>ID del anuncio:<label style="margin-left: 20px;">01</label></h6>
                    <h6>ID de la propiedad:<label style="margin-left: 20px;">47</label></h6>
                    <h6>Clasificación</h6>
                    <h6 style="color: rgb(239,117,28);">Estado (Aprobado o no)</h6>
                    <h6>Tarjeta de crédito asociada</h6>
                    <h6>Fecha Inicio</h6>
                    <h6>Fecha Fin</h6>
                    <h6>Vendedor Asociado</h6>
                    <h6>Público meta</h6>
                    <h6>Tipo de anuncio</h6><button class="btn btn-primary" type="button" style="background-color: rgb(255,15,0);">Eliminar</button><button class="btn btn-primary" type="button" style="background-color: rgb(0,117,255);margin-left: 20px;">Modificar</button></div>
            </div>
        </div>
    </div>
    <!-- End: Block Responsive Item List -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/bootstrap.min.js"></script>
</body>

</html>
