<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Detalle de mensaje</title>
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="/assets/css/Profile-Edit-Form.css">
</head>

<body style="background-image: url(&quot;/assets/img/IconoCorreo.png&quot;);">
    <h3 style="background-color: #ef3529;">Detalle del mensaje<button class="btn btn-primary" type="button" style="background-color: rgb(49,218,76);margin-left: 900px;" routerLink="/cliente/mensajes">Volver atrás</button></h3>
    <!-- Start: Profile Edit Form -->
    <div class="container profile profile-view" id="profile" style="background-color: #454141;color: rgb(253,254,255);">
        <div class="row">
            <div class="col-md-12 alert-col relative">
                <div class="alert alert-info absolue center" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><span>Profile save with success</span></div>
            </div>
        </div>
        <form>
            <div class="form-row profile-row">
                <div class="col-md-4 relative">
                    <div class="avatar">
                        <div class="avatar-bg center"></div>
                    </div>
                </div>
                <div class="col-md-8">
                    <h1>Información del comprador</h1>
                    <hr>
                    <div class="form-row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group"><label><strong>Nombre:</strong></label></div><label style="margin-bottom: 40px;">Pedro&nbsp;</label></div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group"><label><strong>ID de comprador:</strong></label></div><label>1251251</label></div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group"><label><strong>Apellido 1:</strong></label></div><label style="margin-bottom: 40px;">Pérez</label></div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group"><label><strong>Apellido 2:</strong></label></div><label>Salazar</label></div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group"><label><strong>Género:</strong></label></div><label style="margin-bottom: 40px;">Hombre</label></div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group"><label><strong>Fecha de Nacimiento:</strong></label></div><label>12/12/1994</label></div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group"><label><strong>Ingresos al mes (Colones):</strong></label></div><label style="margin-bottom: 40px;">500000</label></div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group"><label><strong>Provincia:</strong></label></div><label>Alajuela</label></div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group"><label><strong>Cantón:</strong></label></div><label>Alajuela</label></div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group"><label><strong>Distrito:</strong></label></div><label>Alajuela</label></div>
                    </div>
                    <hr>
                </div>
            </div>
        </form>
    </div>
    <!-- End: Profile Edit Form -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/js/Profile-Edit-Form.js"></script>
</body>
<router-outlet></router-outlet>
</html>