<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Vista General</title>
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Autour+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="/assets/css/Pretty-Footer.css">

</head>

<body style="background-image: url(&quot;/assets/img/FondoPrincipal2.jpg&quot;);background-size: cover;background-repeat: no-repeat;">
    <nav class="navbar navbar-light navbar-expand-md" style="background-color: #ffffff;font-family: 'Autour One', cursive;">
        <div class="container-fluid"><a class="navbar-brand" ><strong>Bienvenido Usuario General</strong></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse text-center" id="navcol-1">
                <ul class="nav navbar-nav text-right ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="">Log in</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="formClientes">Crear Cuenta Cliente</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="formCompradores">Crear Cuenta Comprador</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <div class="jumbotron border rounded-circle" style="margin-top: 150px;">
        <h1 class="text-center">Bienvenido a TECres!</h1>
        <p class="text-center" style="font-size: 20px;">En esta plataforma se permite al usuario general ver todas las propiedades que se encuentran registradas en el sitio para venta o alquiler. No esperés más y comenzá con la búsqueda de tu futura propiedad!</p>
        <p class="text-center"></p>
    </div>
    <section class="bg-secondary border rounded" style="background-color: #e3e3e3;margin-left: 80px;margin-bottom: 0px;margin-right: 80px;margin-top: -10p;opacity: 0.90;color: rgb(248,252,255);">
        <h1 class="text-center">Búsquedas</h1>
    <form> 
        <div class="row">
            <div class="col"><label style="margin-left: 60px;"><strong>Ubicación:</strong></label>
                <div class="row">
                    <div class="col"><label class="col-form-label">Provincia</label></div>
                    <div class="col"><select><option value="12" selected="">Alajuela</option></select></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label">Cantón</label></div>
                    <div class="col"><select><option value="12" selected="">Alajuela</option></select></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label">Distrito</label></div>
                    <div class="col"><select><option value="12" selected="">Desamparados</option></select></div>
                </div>
            </div>
            <div class="col">
                <div class ="form-group">
                <label>
                    <strong>Cantidad de habitaciones:</strong>
                </label>
                <input ngModel #cantHabitaciones="ngModel" [class.is-invalid]="cantHabitaciones.invalid && cantHabitaciones.touched" class="form-control" type="number"  required pattern="^[1-9]\d*$" name="cantHabitaciones" style="margin-top: 5px;margin-left: 0px;">
                <small [class.d-none]="cantHabitaciones.valid || cantHabitaciones.untouched" class="text-danger">La cantidad de habitaciones es requerida y debe ingresar un valor válido</small>
                </div>
            </div>
            <div class="col" style="padding-right: 0px;"><label><strong>Rango de precios (Colones):</strong></label>
                <div class="row">
                    <div class="form-group">
                        <div class="col">
                            <label class="col-form-label">Valor mínimo</label>
                        </div>
                        <div class="col">
                            <input  ngModel #valMin="ngModel" [class.is-invalid]="valMin.invalid && valMin.touched" class="form-control" type="number"  required pattern="^[1-9]\d*$" name="valMin">
                            <small [class.d-none]="valMin.valid || valMin.untouched" class="text-danger">El valor mínimo es requerido y debe ingresar un número válido</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col">
                            <label class="col-form-label">Valor máximo</label>
                        </div>
                        <div class="col">
                            <input ngModel #valMax="ngModel" [class.is-invalid]="valMax.invalid && valMax.touched" class="form-control" type="number"  required pattern="^[1-9]\d*$" name="valMax">
                            <small [class.d-none]="valMax.valid || valMax.untouched" class="text-danger">El valor máximo es requerido y debe ingresar un número válido</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"><button class="btn btn-dark" type="button" style="margin-top: 30px;padding-right: 45px;margin-left: 0px;padding-left: 45px;" routerLink="/listPropiedades" >Buscar</button></div>
        </div>
    </form>
    </section>
    <!-- Start: Pretty Footer -->
    <footer>
        <div class="row">
            <div class="col-sm-6 col-md-4 footer-navigation">
                <h3></h3>
                <p class="company-name" style="font-size: 30px;margin-top: 60px;">TECres © 2019</p>
            </div>
            <div class="col-sm-6 col-md-4 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p><span class="new-line-span">Tecnológico de Costa Rica</span> Cartago, Costa Rica</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left"> +506 123456789</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> <a target="_blank">TecRes@gmail.com</a></p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 footer-about">
                <h4>Acerca de Nosotros</h4>
                <p> TECres está conformado por cientos de agentes inmobiliarios calificados que comparten y administran miles de propiedades y clientes en una base de datos centralizada.</p>
                <div class="social-links social-icons"></div>
            </div>
        </div>
    </footer>
    <!-- End: Pretty Footer -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/bootstrap.min.js"></script>

</body>
<router-outlet></router-outlet>
</html>