<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Form Propiedades</title>
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
</head>

<body>
    <div></div>
    <!-- Start: Pretty Registration Form -->
    <div class="row register-form" style="background-color: #3874ea;">
        <div class="col-md-8 offset-md-2">
            <form class="custom-form" style="font-size: 18px;">
                <h1>Registrar Propiedad</h1>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Título de la propiedad</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="text" required="" maxlength="20"></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Descripción</label></div>
                    <div class="col-sm-6 input-column"><textarea class="form-control" required="" maxlength="50"></textarea></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="email-input-field">Tipo de Inmueble</label></div>
                    <div class="col-sm-6 input-column"><select class="form-control"><option value="12" selected="">Lote</option><option value="13">Casa</option><option value="14">Apartamento</option></select></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="email-input-field">Tipo de Piso</label></div>
                    <div class="col-sm-6 input-column"><select class="form-control"><option value="12" selected="">Concreto lujado</option><option value="13">Cerámica</option><option value="14">Porcelanato</option></select></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="email-input-field">Ubicación:</label></div>
                    <div class="col-sm-6 input-column" style="padding-top: 50px;"><label>Provincia</label><select class="form-control" style="margin-bottom: 15px;"><option value="12" selected="">Alajuela</option></select><label>Cantón</label><select class="form-control" style="margin-bottom: 15px;"><option value="12" selected="">Alajuela</option></select><label>Distrito</label>
                        <select
                            class="form-control">
                            <option value="12" selected="">Desamparados</option>
                            </select>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Dirección Exacta</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="text" required="" maxlength="20"></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Metros cuadrados del terreno</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="number" required=""></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Metros cuadrados de construcción</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="number" required=""></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Cantidad de habitaciones</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="number" required=""></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Cantidad de baños</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="number" required=""></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Cantidad de parqueos</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="number" required=""></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Niveles</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="number" required=""></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Gimnasio</label></div>
                    <div class="col-sm-6 input-column"><input type="checkbox"></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Piscina</label></div>
                    <div class="col-sm-6 input-column"><input type="checkbox"></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Parqueo para visitas</label></div>
                    <div class="col-sm-6 input-column"><input type="checkbox"></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Foto principal de la propiedad</label></div>
                    <div class="col"><input type="file" accept="image/*" required="" style="margin-top: 15px;"></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Listado de fotos</label></div>
                    <div class="col"><input type="file" accept="image/*" multiple="" style="margin-top: 15px;margin-right: 30px;"></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Precio</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="number" required=""></div>
                </div>
                <div *ngIf="propiedadesModificar">
                    <button class="btn btn-light submit-button" type="button" (click) = "setPropiedadesModificar()" routerLink="/cliente/listPropiedades">Agregar</button>
                </div>
                <div *ngIf="!propiedadesModificar">
                    <button class="btn btn-light submit-button" type="button" routerLink="/cliente">Agregar</button>
                </div>
            </form>
        </div>
    </div>
    <!-- End: Pretty Registration Form -->
</body>
<router-outlet></router-outlet>
</html>