<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Form Anuncios</title>
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="/assets/css/Profile-Edit-Form.css">
</head>

<body>
    <div></div>
    <!-- Start: Profile Edit Form -->
    <div class="container profile profile-view" id="profile">
        <div class="row">
            <div class="col-md-12 alert-col relative">
                <div class="alert alert-info absolue center" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><span>Profile save with success</span></div>
            </div>
        </div>
        <form>
            <div class="form-row profile-row">
                <div class="col-md-4 relative"><img src="/assets/img/bulletin_board.jpg" style="width: 340px;height: 400px;margin-top: 50px;"></div>
                <div class="col-md-8">
                    <h1>Crear Anuncio</h1>
                    <hr>
                    <div class="form-row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label>Nombre del anuncio</label>
                                <input  ngModel #nombre="ngModel" [class.is-invalid]="nombre.invalid && nombre.touched" class="form-control" type="text"  required maxlength="50" pattern="^([A-Za-z\u00C0-\u00D6\u00D8-\u00f6\u00f8-\u00ff\s]*)$" name="nombre">
                                <small [class.d-none]="nombre.valid || nombre.untouched" class="text-danger">Debe insertar un nombre de anuncio y que sea válido</small>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label>Tipo del anuncio</label>
                            </div>
                            <select class="form-control" style="margin-top: -17px;">
                                <option value="12" selected="">Normal</option>
                                <option value="13">Destacado</option>
                                <option value="14">Oro</option>
                                <option value="">Platino</option>
                            </select>
                        </div>
                        <div
                            class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label>Público Meta</label>
                            </div>
                            <select class="form-control" style="margin-top: -17px;">
                                <option value="12" selected="">Normal</option>
                            </select>
                        </div>
                    <div class="col">
                        <button class="btn btn-primary form-btn" type="submit" style="background-color: rgb(0,255,56);margin-top: 30px;" (click) = "setPublicoMetaModificar()" routerLink="/cliente/publicoMeta">Agregar Público Meta</button>
                        <button class="btn btn-primary form-btn" type="submit" style="margin-top: 15px;" (click) = "setPublicoMetaModificar()" routerLink="/cliente/publicoMeta">Modificar Público Meta</button>
                        <button class="btn btn-primary form-btn" type="submit" style="margin-top: 15px;background-color: rgb(255,0,0);" (click)="refreshPage()">Eliminar Público Meta</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col">
                        <div class="form-group">
                            <label style="margin-left: -15px;margin-top: 15px;">Tarjeta de crédito</label>
                        </div>
                        <input ngModel #tarjetaCredito="ngModel" [class.is-invalid]="tarjetaCredito.invalid && tarjetaCredito.touched" class="form-control" type="number"  required pattern="^[1-9]\d*$" name="tarjetaCredito" style="margin-top: -17px;margin-left: -15px;">
                        <small [class.d-none]="tarjetaCredito.valid || tarjetaCredito.untouched" class="text-danger">La tarjeta de crédito es necesaria y debe ser un valor válido</small>
                    </div>
                        <label style="margin-top: 20px;">Clasificación</label>
                    <select
                        class="form-control">
                        <option value="12" selected="">Venta</option>
                        <option value="13">Alquiler</option>
                        </select>
                </div>
                <div class="form-row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <label>Fecha de Inicio</label>
                        </div>
                        <input ngModel #fechaInicio="ngModel" [class.is-invalid]="fechaInicio.invalid && fechaInicio.touched" class="form-control" type="date" required  name="fechaInicio">
                        <small [class.d-none]="fechaInicio.valid ||fechaInicio.untouched" class="text-danger">Fecha de inicio es requerida</small>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <label>Fecha de Fin</label>
                        </div>
                        <input ngModel #fechaFin="ngModel" [class.is-invalid]="fechaFin.invalid && fechaFin.touched" class="form-control" type="date" required  name="fechaFin">
                        <small [class.d-none]="fechaFin.valid ||fechaFin.untouched" class="text-danger">Fecha de fin es requerida</small>
                    </div>
                </div>
                <hr>
                <div class="form-row">
                    <div class="col-md-12 content-right">
                        <div *ngIf = "anunciosModificar"><button class="btn btn-primary form-btn" type="submit" (click) = "setAnunciosModificar()" routerLink="/cliente/listAnuncios">Guardar</button></div>
                        <div *ngIf = "!anunciosModificar"><button class="btn btn-primary form-btn" type="submit" routerLink="/cliente/listPropiedades">Guardar</button></div>
                        
                    </div>
                </div>
            </div>
    </div>
    </form>
    </div>
    <!-- End: Profile Edit Form -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/js/Profile-Edit-Form.js"></script>
</body>
<router-outlet></router-outlet>
</html>